
    .delete_modal{
        position: absolute;
        right: 0;
        top: 30px;
        display: flex;
        flex-direction: column;
        border: 1px solid rgb(231, 231, 231);
        background-color:white;
        border-radius: 6px;
        flex-grow: 0;
        animation: scaleUpEffect .1s ease-in-out forwards;
        a {
            display: inline-block;
            width: 100%;
            padding:10px;
            box-sizing: border-box;
            font-size: 12px;
            text-decoration: none;
            &:hover {
                background-color:rgb(243, 243, 243);
            }
        }
        a:first-child{
            border-bottom: 1px solid rgb(231, 231, 231);
        }

        @keyframes scaleUpEffect {
            from {
                transform: scale(0,0);
            }
            to{
                transform: scale(1,1);
            }
        }
    }
